
@font-face {
    font-family: 'yekan';
    src: url('./../fonts/yekan/Yekan.eot');
    src: url('./../fonts/yekan/Yekan.eot') format('embedded-opentype'), url('./../fonts/yekan/Yekan.woff') format('woff'), url('./../fonts/yekan/Yekan.ttf') format('truetype'); font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iransans';
    src: url('./../fonts/titr/titr.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titr';
    src: url('./../fonts/titr/titr.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iransans';
    src: url('./../fonts/iransans/IranianSans.ttf');
    font-weight: normal;
    font-style: normal;
}
